#header{
   background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

#nav{
    background-color: aliceblue;
    line-height: 30px;
    height: 300px;
    width: 10%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

#section{
    width: 90%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
}